<div class="container mt-5">
    <div class="row">
      <div class="col-8">
        <h3>Arabalar</h3>
  
        <select class="form-control" [(ngModel)]="katId" (ngModelChange)="KatSec($event)">
          <option [value]="kat.katId" *ngFor="let kat of kategoriler">{{kat.adi}}</option>
        </select>
        <p class="alert alert-danger mt-2" *ngIf="katId=='0'">Lütfen Kategori Seçiniz!</p>
  
        <button class="btn btn-outline-primary mt-3" (click)="Ekle(modalEkleDuzenle)"
        >Araba Ekle</button>
        <p *ngIf="katId!='0'">
          Seçili Kategori : <b>{{secKat.adi}}</b>
        </p>
        <table class="table table-hover mt-3">
          <thead>
            <th>Id</th>
            <th>Araba Modeli</th>
            <th>Model Yılı</th>
            <th>Kayıt Tarihi</th>
            <th>Düzenleme Tarihi</th>
            <th>Fiyat Bilgisi</th>
            <th>Düzenle</th>
            <th>Sil</th>
            
            
          </thead>
          <tbody>
            <tr *ngFor="let item of arabalar">
              <td>{{item.carId}}</td>
              <td>{{item.carname}}</td>
              <td>{{item.year}}</td>
              <td>{{item.kaytarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
              <td>{{item.duztarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
              <td>{{item.fiyat | currency:"₺"}}</td>
              <td><button class="btn btn-outline-warning" (click)="Duzenle(item,modalEkleDuzenle)"
                >Düzenle</button></td>
              <td><button class="btn btn-outline-danger" (click)="Sil(item,modalSil)"
                >Sil</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="modal" tabindex="-1" #modalEkleDuzenle>
    <div class="modal-dialog">
      <form [formGroup]="frm" (ngSubmit)="ArabaEkleDuzenle()">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title">{{modalBaslik}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
  
            <div class="form-group">
              <label>Araba Adı</label>
              <input type="text" class="form-control" formControlName="carname">
              <label>Model Yılı</label>
              <input type="number" class="form-control" formControlName="year">
              <label>Kategori</label>
              <select class="form-control" formControlName="categoryId">
                <option [value]="kat.katId" *ngFor="let kat of kategoriler">{{kat.adi}}</option>
              </select>
              <label>Fiyat Belirle</label>
              <input type="number" class="form-control" formControlName="fiyat">
              <label>Araba Foto</label>
              <input type="text" class="form-control" formControlName="imgUrl">
              <input type="hidden" class="form-control" formControlName="carId">
              <input type="hidden" class="form-control" formControlName="kaytarih">
              <input type="hidden" class="form-control" formControlName="duztarih">
  
            </div>
  
          </div>
          <div class="modal-footer">
  
            <input type="submit" class="btn btn-outline-primary" value="Kaydet">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal" tabindex="-1" #modalSil>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 *ngIf="secAraba">{{secAraba.carname}} adlı Araba Silinecektir Onaylıyor musunuz?</h6>
        </div>
        <div class="modal-footer">
  
          <button class="btn btn-outline-danger" *ngIf="secAraba" (click)="ArabaSil()">Sil</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
  
    </div>
  </div>
  

  <div class="modal" tabindex="-1" #modalKirala>
    <div class="modal-dialog">
      <form [formGroup]="frm" (ngSubmit)="OdemeYap()">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title">{{modalBaslik}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
  
            <div class="form-group">
              <label>Kartın Üzerindeki Ad-Soyad</label>
              <input type="text" class="form-control" >
              <label>Kart Numarası</label>
              <input type="number" class="form-control">
              <label>Son Kullanma Tarihi</label>
              <input type="number" class="form-control">
              <label>CVC</label>
              <input type="number" class="form-control">
              <label>Ödenecek Tutar</label>
              <h3 class="text-dark">{{ toplam | currency:"₺"}}</h3>
  
            </div>
  
          </div>
          <div class="modal-footer">
  
            <input type="submit" class="btn btn-outline-primary" value="Kaydet">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
          </div>
        </div>
      </form>
    </div>
  </div>